<!DOCTYPE html>
<div ng-controller="DragAndDrop">
  <div class="col-md-2">
    <h3>Créer un sondage </h3>
    <input ng-model="survey.name" type="text" name="name" placeholder="Entrez le nom du sondage" class="form-control" required="required"/><br>
    <input type="number" name="surveypoints" placeholder="Entrez le nombre de points" class="form-control" required="required"/><br>
    <select class="form-control">
     <option ng-repeat="category in categories" value="{{category.name}}" >{{category.name}}</option>
   </select><br>
   <button class="btn btn-primary" style="width: 100px">Valider</button>
 </div>
 <div>
  {{questionList | json}}
  <div class="col-md-4">
    <div class="col-sm-12 draganddroptuto">
      <i class="fa fa-arrows faarrows"></i> Cliquez/déposez les items que vous souhaitez inclure dans le sondage
    </div>
    <h3 class="ui-widget-header">Outils</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        Type de question <i class="fa fa-sort-desc"></i>
      </div>
      <div class="panel-body">
       <ul  style="padding: 0!important">
         <li class="draggable_item dragitem col-xs-5 col-sm-5 col-md-5" ng-repeat='item in list1' ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', deepCopy: true}">
          <i class="fa fa-{{item.icon}}" style="margin-right:5px;"></i> {{item.title}} <i class="fa fa-ellipsis-v draggable-icon"></i>
        </li>
      </ul> 
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">
        Options <i class="fa fa-gears"></i>
      </div>
      <div id="display-item-options" class="panel-body" style="display:none;">

      </div>
  </div>
</div> 
<div class="col-md-6" id="renderPanel">
  <div id="optionsbar" class="col-sm-12">
    <button class="optionsbarButton"><i class="fa fa-save"> Enregistrer</i></button>
    <button class="optionsbarButton"><i class="fa fa-search"> Prévisualiser</i></button>
  </div>
  <h3 class="ui-widget-header">Création du sondage</h3>
  <div class="ui-widget-content">
    <ol class="dropzone" data-drop="true" ng-model='list4' jqyoui-droppable="{multiple:true}" id="list4">
      <li class="drop_item" ng-repeat="itemlol in list4" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:false}">
        <!-- Champ pour modifier la question -->
        <input ng-hide="itemlol.show" type="text" class="answer_field" ng-model="answer"/>
        <!-- Label de la question -->
        <span class="question_label" ng-show="itemlol.show" ng-bind-html="itemlol.label"></span>
        <!-- Code de la question (type de question) -->
        <span id="itemn{{$index}}" ng-hide="itemlol.title == 'Titre'" class="question_code" ng-bind-html="itemlol.code"></span>

        <!-- Bouton pour valider la modification -->
        <span ng-hide="itemlol.show" ng-click="validate($index, answer)" class="validate_edit_btn"></span>
        <!-- Bouton pour modifier la question-->
        <span ng-show="itemlol.show" ng-click="edit($index, itemlol.id)" class="edit_btn"></span>
        <!-- Bouton pour supprimer la question -->
        <span class="delete_btn" ng-click="delete($index)"></span>
      </li>
      <li class="placeholder" ng-hide="hideMe()">Cliquez/déposez des éléments depuis le menu pour créer votre sondage</li>
    </ol>
  </div>
</div>
</div>
<script>

$(document).on('click', '.removeItem', function(event)
{
  event.preventDefault();
  $(this).parent().find('input').prop('disabled', true);
});

$(document).on('click', '#addNewOptions', function(event)
{
  event.preventDefault();
  $('#newOptions').append('<input class="form-control" type="text" value="" />');
});

$(document).on('click', '#closedQuestion', function(event) {
    event.preventDefault(); 
    var empty = false;
    $(this).parent().find('input').each(function(index, element){
      if(element.value == '')
      {
        empty = true;
        $(this).parent().find('#errMessage').html("Le champ '"+$(this).parent().children("input[name='"+element.name+"']").prev().html()+"' doit être rempli").fadeIn(1000);
      }
    });

    if (!empty)
    {
      var typeItem = $(this).parent().children("input[name='itemType']").val();
      var idItem = $(this).parent().children("input[name='itemIndex']").val();

      $("#itemn"+idItem).hide();

      var newTitle = $(this).parent().children("input[name='questionTitle']").val();
      $("#itemn"+idItem).parent().find("h5").html(newTitle);

      if (typeItem == 0 || typeItem == 5)
      {
        $('#renderPanel').scope().editTitleQuestion(idItem, newTitle, typeItem);
      }
      if (typeItem == 1)
      {
        var maxlength = $(this).parent().children("input[name='maxlength']").val();
        $("#itemn"+idItem).children("textarea").prop('maxlength', maxlength);
        $('#renderPanel').scope().editOpenQuestion(idItem, newTitle, typeItem, maxlength);
      }
      if (typeItem == 2)
      {
        var newOpt1 = $(this).parent().children("input[name='opt1']").val();
        var newOpt2 = $(this).parent().children("input[name='opt2']").val();
        $("#itemn"+idItem).children(".opt1").html(newOpt1);
        $("#itemn"+idItem).children(".opt2").html(newOpt2);

        $('#renderPanel').scope().editYesNoQuestion(idItem, newTitle, newOpt1, newOpt2);
      }
      if (typeItem == 3)
      {
        var min = $(this).parent().children("input[name='min']").val();
        var max = $(this).parent().children("input[name='max']").val();
        var step = $(this).parent().children("input[name='step']").val();
        $("#itemn"+idItem).children("input[type='range']").prop("min", min);
        $("#itemn"+idItem).children("input[type='range']").prop("max", max);
        $("#itemn"+idItem).children("input[type='range']").prop("step", step);

        $('#renderPanel').scope().editSliderQuestion(idItem, newTitle, min, max, step);
      }
      if (typeItem == 6)
      {
        var multiple = false;
        if($('#multipleAnswers').is(':checked'))
        {
          console.log("ok"); 
          multiple = true;
          $("#itemn"+idItem).find("select").prop("multiple", true);
        }
        else
          $("#itemn"+idItem).find("select").prop("multiple", false);
          
        var options = [];
        var newOptionIndex = 0;

        // Questions déjà présentes dans le formulaire
        var newOptionsEdit = $(this).parent().children("#allOptionsEdit").find('input');
        newOptionsEdit.each(function($index)
        {
          if ($(this).prop("disabled") == "disabled")
            newOptionIndex--;
          else
          {
            newOptionIndex++;
            $txt = $(this).val();
            options.push($txt);
            $("#itemn"+idItem).find("option").prop("pos", newOptionIndex).text($txt);
         }
        });

        // Questions venant d'être add
        var newOptions = $(this).parent().children("#newOptions").children();
        newOptions.each(function($index)
        {
          $txt = $(this).val();
          options.push($txt);
          $("#itemn"+idItem).find("select").append('<option pos="'+($index+newOptionIndex)+'" value="'+($index+newOptionIndex+2)+'">'+$txt+'</option>');
        });

        $('#renderPanel').scope().editMultipleQuestion(idItem, newTitle, options, multiple);
      }
      $("#itemn"+idItem).fadeIn(1000);
    }
});
</script>
</div>