<!DOCTYPE html>
<div class="row-centered" ng-controller="GameController" style="padding-top: 20px">
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 col-centered">
        <h1>Mini jeu - {{game.name}} &nbsp; 
            <i class="fa fa-lock" ng-if="game_user[0].user_points < game.points_req" style="color: #fa8144"></i>
            <i class="fa fa-check" ng-if="game.user_id != undefined" style="color: #1fa67a"></i>
            <i class="fa fa-gamepad" ng-if="game_user[0].user_points >= game.points_req && game.user_id == undefined" style="color: #74afec"></i>
            <span id="games-my-points" style="float: right; font-size: 20px; margin-top: 15px">Mes points | <span id="user_points_count" style="display: inline-block; font-family: Arial; font-weight: bold">0</span></span>
        </h1>
        <hr>
        <div class="game-description" >
            <div ng-if="game_user[0].user_points < game.points_req">
                <div style="float:right; font-size: 50px; margin-top: 5px"><i class="fa fa-users" style="color: #999;"></i> <span id="game_user_rank">--</span>e</div>
                <div style="float:right; font-size: 50px; margin-top: 5px; margin-right: 40px"><i class="fa fa-trophy" style="color: #d14836;"></i> --</div>
                <span style="color: #f5c950;">Points requis: </span> {{game.points_req}} <br>
                <span style="color: #f5c950;">Points restants: </span> {{game.points_req - game_user[0].user_points}} <br>
                <div ng-click="openFbShareBut(game.id_game)" style="background: #3a5795; border-radius: 3px; width: 33px; overflow: hidden; cursor: pointer; margin-top: 10px; padding: 8px 8px 0 0; display: inline-block"><i class="fa fa-facebook fa-lg" style="color: #fff; cursor: pointer; float: right"></i></div>
                <i class="fa fa-envelope" style="color: #fff; cursor: pointer; font-size: 23px; position: relative; top: -2px; left: 10px" data-toggle="modal" data-target="#myModalMail" ></i>
                <!-- <div class="fb-share-button" data-href="http://localhost:1337/#/game/{{game.id_game}}" data-layout="button" style="margin-top: 10px"></div> --> <hr>
                <p>{{game.description}}</p>
            </div>
            <div ng-if="game.user_id != undefined">
                <div style="float:right; font-size: 50px; margin-top: 5px"><i class="fa fa-users" style="color: #999;"></i> <span id="game_user_rank">--</span>e</div>
                <div style="float:right; font-size: 50px; margin-top: 5px; margin-right: 40px"><i class="fa fa-trophy" style="color: #f5c950;"></i> {{game.score}}</div>
                <span style="color: #f5c950;">Points requis: </span> {{game.points_req}} <br>
                <span style="color: #f5c950;">Points gagnés: </span> {{game.points}} <br>
                <span style="color: #f5c950;">Meilleur score: </span> {{game.score}} {{game.type}} <br>
                <div ng-click="openFbShareBut(game.id_game)" style="background: #3a5795; border-radius: 3px; width: 33px; overflow: hidden; cursor: pointer; margin-top: 10px; padding: 8px 8px 0 0; display: inline-block"><i class="fa fa-facebook fa-lg" style="color: #fff; cursor: pointer; float: right"></i></div>
                <i class="fa fa-envelope" style="color: #fff; cursor: pointer; font-size: 23px; position: relative; top: -2px; left: 10px" data-toggle="modal" data-target="#myModalMail" ></i>
                <!-- <div class="fb-share-button" data-href="http://localhost:1337/#/game/{{game.id_game}}" data-layout="button" style="margin-top: 10px"></div> --> <hr>
                <p>{{game.description}}</p>
            </div>
            <div ng-if="game_user[0].user_points >= game.points_req && game.user_id == undefined">
                <div style="float:right; font-size: 50px; margin-top: 5px"><i class="fa fa-users" style="color: #999;"></i> <span id="game_user_rank">--</span>e</div>
                <div style="float:right; font-size: 50px; margin-top: 5px; margin-right: 40px"><i class="fa fa-trophy" style="color: #d14836;"></i> --</div>
                <span style="color: #f5c950;">Points requis: </span> {{game.points_req}} <br>
                <span style="color: #f5c950;">Points gagnés: </span> -- <br>
                <span style="color: #f5c950;">Meilleur score: </span> -- <br>
                <div ng-click="openFbShareBut(game.id_game)" style="background: #3a5795; border-radius: 3px; width: 33px; overflow: hidden; cursor: pointer; margin-top: 10px; padding: 8px 8px 0 0; display: inline-block"><i class="fa fa-facebook fa-lg" style="color: #fff; cursor: pointer; float: right"></i></div>
                <i class="fa fa-envelope" style="color: #fff; cursor: pointer; font-size: 23px; position: relative; top: -2px; left: 10px" data-toggle="modal" data-target="#myModalMail" ></i>
                <!-- <div class="fb-share-button" data-href="http://localhost:1337/#/game/{{game.id_game}}" data-layout="button" style="margin-top: 10px"></div> --> <hr>
                <p>{{game.description}}</p>
            </div>
        </div>
        <div id="phaser-example-img" class="game-launch-img" style="background: url('{{game.image_path}}') center no-repeat; background-size: auto 100%; margin-bottom: 50px">
            <div class="game-launch-img-layer" ng-show="game_user[0].user_points >= game.points_req">
                Cliquez pour jouer !<br>
                <i class="fa fa-gamepad fa-4x" style="color: #74afec"></i>
            </div>
            <div class="game-launch-img-layer" ng-show="game_user[0].user_points < game.points_req" style="cursor: default">
                Vous devez gagnez plus de points pour débloquer ce jeu !<br>
                <i class="fa fa-lock fa-4x" style="color: #999"></i>
            </div>
        </div>
        <div id="phaser-example" ng-show="game_user[0].user_points >= game.points_req" class="game-launch animate-repeat" style="width: 800px; height: 600px; margin: auto; margin-top: 6%; margin-bottom: 50px"></div>
        <div class="row-centered" style="margin-bottom: 120px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
                <h1>Classement général</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Rang</th>
                                        <th>Utilisateur</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody id="ranking-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="GameMailController">
        <div class="modal-dialog row-centered">
            <div class="modal-content col-xs-6 col-sm-5 col-md-4 col-lg-3 col-centered signup">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Partagez votre score par mail</h4>
                </div>
                <div class="modal-body">
                    <div id="mails-success" class="alert alert-success alert-dismissible fade in" role="alert" ng-show="mailErrMess!=undefined">
                        <button type="button" class="close" ng-click="mailErrMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <span ng-bind-html="mailErrMess"></span>
                    </div>
                    <form ng-submit="GameMailSubmit(game.name, game.image_path)">
                        <textarea ng-model="emailContacts" rows="5" name="emailContacts" placeholder="Entrez les emails de vos contacts, séparés par un point-virgule ';'" class="form-control" ></textarea> <br>
                        <input type="submit" value="Envoyer" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% if(upoints >= gpoints) { %>
<script src="js/phaser/game<%= gameid %>.js"></script>
<script type="text/javascript">
    var game_launch_img = $('.game-launch-img');
    var game_launch_img_layer = $('.game-launch-img-layer');
    var game_launch = $('.game-launch');
    game_launch_img.hover(function () {
        game_launch_img_layer.slideToggle(300);
    }, function () {
        game_launch_img_layer.slideToggle(300);
    });

    game_launch_img_layer.click(function () {
        game_launch_img.hide();
        game_launch.show();
        launch_phaser_game();
    })
</script>
<% } else { %>
<script type="text/javascript">
    var game_launch_img = $('.game-launch-img');
    var game_launch_img_layer = $('.game-launch-img-layer');
    var game_launch = $('.game-launch');
    game_launch_img.hover(function () {
        game_launch_img_layer.slideToggle(300);
    }, function () {
        game_launch_img_layer.slideToggle(300);
    });
</script>
<% } %>