<!DOCTYPE html>
<section id="feature" class="transparent-bg">
	<div class="container">
		<div class="center wow fadeInDown">
			<h1>Nos services</h1>
			<p class="lead">SurveyMania vous propose un outil simple et complet de création de sondage.<br/> En voici les différentes fonctionnalités :</p>
		</div>
		<div class="row">
			<div class="features">
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-arrows"></i>
						<h2>Drag&Drop</h2>
						<h3>Une interface simple et intuitive pour créer vos sondages</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-pie-chart"></i>
						<h2>Statistiques</h2>
						<h3>Obtenez des statistiques ultra détaillées sur vos utilisateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-rocket"></i>
						<h2>Visibilité</h2>
						<h3>Grâce aux QRcodes, vous pouvez atteindre des milliers d'utilisateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-gamepad"></i>
						<h2>Mini-jeu</h2>
						<h3>Créez des minis-jeux afin de rendre vos sondages ludiques et amusants</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-cogs"></i>
						<h2>Back-office</h2>
						<h3>Vous permet de gérer vos sondages ainsi que vos administrateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-picture-o"></i>
						<h2>Templates</h2>
						<h3>Les templates prédéfinis de SurveyMania vous font gagner un temps précieux </h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
    jQuery(function($) {'use strict',
        new WOW().init();
    });
</script>
    