<!DOCTYPE html>
<section id="feature" class="transparent-bg">
	<div class="container">
		<div class="center wow fadeInDown">
			<h1>Nos services</h1>
			<p class="lead">SurveyMania vous propose un outil simple et complet de création de sondage.<br/> En voici les différentes fonctionnalités :</p>
		</div>
		<div class="row">
			<div class="features">
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-arrows"></i>
						<h2>Drag&Drop</h2>
						<h3>Une interface simple et intuitive pour créer vos sondages</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-pie-chart"></i>
						<h2>Statistiques</h2>
						<h3>Obtenez des statistiques ultra détaillées sur vos utilisateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-rocket"></i>
						<h2>Visibilité</h2>
						<h3>Grâce aux QRcodes, vous pouvez atteindre des milliers d'utilisateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-gamepad"></i>
						<h2>Mini-jeu</h2>
						<h3>Créez des minis-jeux afin de rendre vos sondages ludiques et amusants</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-cogs"></i>
						<h2>Back-office</h2>
						<h3>Vous permet de gérer vos sondages ainsi que vos administrateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-picture-o"></i>
						<h2>Templates</h2>
						<h3>Les templates prédéfinis de SurveyMania vous font gagner un temps précieux </h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="family" class="col-md-12">
	<div id="mini-game" class="row-centered">
		<div class="col-md-8 col-centered">
			<div class="col-md-6 phaser" >
				<img src="../img/phaser.png" style="width:100%" />
			</div>
			<div class="col-md-6"> 
				<span class="minigame-title">Créez des minis-jeux pour dynamiser vos sondages !</span>
				<div class="minigame-text wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<p>SurveyMania permet de créer des minis-jeux avec une simple interface de drag&drop.</p> 
					<p>De cette façon, vous pouvez glissez au milieu de votre sondage des questions sous forme de mini-jeu pour <strong>attirer</strong> encore un peu plus l'attention de vos utilisateurs ! </p> 
					<p>La monotonie des feuilles de questions est <strong>révolue</strong> !</p> 
					<p>Placez vos utilisateurs au centre de votre processus pour qu'ils deviennent véritablement <strong>acteurs</strong> du sondage !</p> 
					<p><strong>Puzzle, plateformer, shoot'em up...</strong> Insérez n'importe quel type de jeu !</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row-centered" style="background: #f2f2f2;">
		<div class="col-md-6 col-centered">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique enim nec varius vulputate. Ut tincidunt placerat diam, in viverra est accumsan lacinia. Maecenas ultrices mattis dui quis ultricies. In euismod in ante et feugiat. Sed euismod nibh ac ligula dictum, a gravida sapien malesuada. Aliquam erat volutpat. Aenean condimentum, enim nec fermentum dapibus, diam tellus aliquet magna, id cursus est lectus in ex. Maecenas accumsan ultricies nisl et sodales. Integer ut quam ac lacus tempor ultricies in vel sem. Ut facilisis efficitur felis, eget posuere mi rutrum nec. Aliquam risus nisl, congue et condimentum eu, pellentesque id sapien. Etiam quis est eget massa finibus rutrum. Suspendisse dictum sodales turpis at elementum. Nulla auctor dictum lectus vitae cursus. Nulla id bibendum turpis, in ultrices nisi.</p>

			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut nec neque ante. Sed malesuada, enim ut tempor viverra, mi metus ultrices odio, eleifend viverra arcu sem vel eros. Duis sit amet neque eu velit rhoncus lobortis quis id leo. Phasellus luctus viverra dolor, eget consequat lectus venenatis ut. Aliquam vitae nulla quis felis accumsan accumsan in ac odio. Etiam nisi justo, fermentum ultrices leo a, aliquet fermentum libero. Pellentesque convallis elit vitae sodales mollis.</p>

			<p>Suspendisse feugiat accumsan ante. In nec est ut odio semper porta id quis nibh. In hac habitasse platea dictumst. Quisque scelerisque cursus egestas. Sed ut posuere eros. Integer condimentum dolor dui, a viverra augue ullamcorper at. Nunc rhoncus, tellus eget suscipit placerat, erat odio elementum tellus, in tincidunt elit diam ac odio. Aenean tempor mi vel enim luctus, eu commodo dui ultricies. Etiam efficitur neque ligula, ac pellentesque dolor porttitor vitae. Sed vel magna eu turpis finibus suscipit. Praesent sed neque eu urna mollis congue in vel augue. Pellentesque in neque turpis. In varius lacinia ex, eu egestas enim euismod nec. Morbi at sapien in diam dignissim eleifend. Nunc quis lectus id mi ultrices tempor vel ut nunc. Proin eu neque at lectus consectetur pellentesque.</p>

			<p>Pellentesque vitae arcu lorem. Vivamus ac suscipit mauris. Sed sit amet congue lacus, vitae bibendum dui. Aenean ac nisi lectus. Phasellus volutpat luctus orci. Nunc at tincidunt mi, ut varius tortor. Aenean egestas urna ante, consequat pulvinar augue commodo non. Maecenas vitae sem non libero cursus egestas eu eget ante. Donec consectetur ipsum non metus dapibus, idullamcorper dolor consequat. Curabitur sodales efficitur tortor, quis pretium urna dictum eu.</p>
		</div>
	</div>
</section>
<script>
    jQuery(function($) {'use strict',
        new WOW().init();
    });
</script>
    