<!DOCTYPE html>
<section id="feature" class="transparent-bg">
	<div class="container">
		<div class="center wow fadeInDown">
			<h1>Nos services</h1>
			<p class="lead">SurveyMania vous propose un outil simple et complet de création de sondage.<br/> En voici les différentes fonctionnalités :</p>
		</div>
		<div class="row" style="color:#000 !important">
			<div class="features">
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-arrows"></i>
						<h2>Drag&Drop</h2>
						<h3>Une interface simple et intuitive pour créer vos sondages</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-pie-chart"></i>
						<h2>Statistiques</h2>
						<h3>Obtenez des statistiques ultra détaillées sur vos utilisateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-rocket"></i>
						<h2>Visibilité</h2>
						<h3>Grâce aux QRcodes, vous pouvez atteindre des milliers d'utilisateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-gamepad"></i>
						<h2>Mini-jeu</h2>
						<h3>Créez des minis-jeux afin de rendre vos sondages ludiques et amusants</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-cogs"></i>
						<h2>Back-office</h2>
						<h3>Vous permet de gérer vos sondages ainsi que vos administrateurs</h3>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<div class="feature-wrap">
						<i class="fa fa-picture-o"></i>
						<h2>Templates</h2>
						<h3>Les templates prédéfinis de SurveyMania vous font gagner un temps précieux </h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="family" class="col-md-12">
	<div id="mini-game" class="row-centered">
		<div class="col-md-8 col-centered">
			<div class="col-md-6 phaser" >
				<img src="../img/phaser.png" style="width:100%" />
			</div>
			<div class="col-md-6"> 
				<span class="minigame-title">Créez des minis-jeux pour dynamiser vos sondages !</span>
				<div class="minigame-text wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<p>SurveyMania permet de créer des minis-jeux avec une simple interface de drag&drop.</p> 
					<p>De cette façon, vous pouvez glissez au milieu de votre sondage des questions sous forme de mini-jeu pour <strong>attirer</strong> encore un peu plus l'attention de vos utilisateurs ! </p> 
					<p>La monotonie des feuilles de questions est <strong>révolue</strong> !</p> 
					<p>Placez vos utilisateurs au centre de votre processus pour qu'ils deviennent véritablement <strong>acteurs</strong> du sondage !</p> 
					<p><strong>Puzzle, plateformer, shoot'em up...</strong> Insérez n'importe quel type de jeu !</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row-centered" style="background: #f2f2f2;padding-bottom:50px;">
		<div class="col-md-6 col-centered">
			<h1>Le principe</h1>
			<img src="../img/workflow.png" alt="workflow" style="margin:auto;display:block;margin:10px;"/>
			<p>Création du sondage</p>
			<p>Le QRcode est généré</p>
			<p>Le client scan le QRcode : le sondage s'ajoute sur son compte</p>
			<p>Le client répond au sondage</p>
			<p>Et gagne des points et des récompenses</p>
			<p>L'entreprise quant à elle peut voir les statistiques détaillées des sondages</p>
		</div>
	</div>
</section>
<script>
    jQuery(function($) {'use strict',
        new WOW().init();
    });
</script>