<!DOCTYPE html>
<script type="text/javascript" src="js/qrcode/llqrcode.js"></script>
<script type="text/javascript" src="js/qrcode/webqr.js"></script>

<div id="mySurveysMain" ng-controller="MySurveysController" class="col-md-12 row-centered">
    <div class="col-md-6 col-centered">
      	<h1 onclick="qrcodeInit()" style="cursor: pointer">Ajouter un sondage</h1>
        <div id="add_survey" style="display: none">
            <div id="add_survey_error" style="diplay: none"></div>

            <div id="add_survey_webcam" style="display: none">
                <div id="videoSourceDiv" class="select" style="display: none">
                    <label>Video source: </label><select id="videoSource"></select>
                </div>
                <p onclick="switchToFile()" style="cursor: pointer">Cliquez ici pour importer une photo</p>
                <div style="width:400px; height:300px; position:relative;">
                    <video id="webcam" style="position:absolute; width:400px; height:300px; border: solid black 1px; border-radius: 20px" autoplay></video>
                    <img style="position:absolute; width:400px; height:300px;" src="img/cadrePhoto.png"></img>
                </div>
                <canvas id="qr-canvas" style="display: none"></canvas>
            </div>

            <div id="add_survey_file" style="display: none">
                <p onclick="switchToWebcam()" style="cursor: pointer">Cliquez ici pour activer la caméra</p>
                <canvas id="out-canvas" style="border: solid black 1px"></canvas><br><br>
                <input type="file" onchange="handleFiles(this.files)" accept="image/*" capture/>
            </div>

            <div class="modal fade" id="confirmScanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog row-centered">
                    <div class="modal-content col-xs-6 col-sm-5 col-md-4 col-lg-3 col-centered signup">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Résultat du scan</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{resultMessage}}</p>
                        </div>
                        <button id="confirmScanModalDismiss" type="button" class="btn btn-default" data-dismiss="modal" ng-show="dismissButton!=null">{{dismissButton}}</button>
                        <button id="confirmScanModalValidate" type="button" class="btn btn-primary" data-dismiss="modal" ng-show="validateButton!=null" ng-click="validateAddSurvey()">
                            {{validateButton}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><h1>Mes sondages</h1><br>
    </div>

    <div class="col-md-9 col-centered" >
        <table class="table">
            <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Nom du sondage</th>
                    <th>Points</th>
                    <th>Informations</th>
                    <th>Complété</th>
                    <th>Initialiser</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="userSurvey in userSurveys">
                    <td>{{userSurvey.organame}}</td>
                    <td>{{userSurvey.surveyname}}</td>
                    <td>{{userSurvey.points}}</td>
                    <td>{{userSurvey.infos}}</td>
                    <td>{{userSurvey.completed}}</td>
                    <td><button ng-click="initializeUserSurveySection(userSurvey.id)">Initialisation</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="js/scroll.js"></script>