<!DOCTYPE html>

<link rel='stylesheet' href='js/spectrum/spectrum.css' />
<script src='js/spectrum/spectrum.js'></script>
<script type="text/javascript">
    $('#addCatColorPicker').spectrum({
        preferredFormat: "hex",
    });
</script>

<div ng-controller="OrganizationPanel">
    <div class="col-md-12 row-centered">
        <div class="col-md-6 col-centered">
            <h1>Catégories</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Couleur</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="category in categories" value="50" category-render="ngRepeatFinished">
                        <td><input value="{{category.name}}" onChange="angular.element(this).scope().updateCategoryName(this)" required/></td>
                        <td><input value="{{category.color}}" onChange="angular.element(this).scope().updateCategoryColor(this)" class="categoryColorPicker" id="catNaFoLi{{category.name}}" required/></td>
                    </tr>
                </tbody>
            </table>

            <h3>Ajouter une catégorie</h3>
            <form ng-submit="addCategory()">
                <label>Nom de la catégorie</label> <span class="link_primary">*</span>
                <input ng-model="newCategory.name" type="text" placeholder="name" class="form-control" ng-change="categoryNameCheck()" required/>
                <span class="error" ng-show="!isValidCategoryName">Le nom d'une catégorie doit contenir entre 2 et 25 caractères</span>
                <br>
                <label>Couleur de la catégorie</label> <span class="link_primary">*</span>
                <input id="addCatColorPicker" ng-model="newCategory.color" ng-change="categoryColorCheck()"/>
                <span class="error" ng-show="!isValidCategoryColor">La couleur doit correspondre au format hexadécimal (ex : "#A14DEA")</span>
                <br>
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </form>
            <br/><br/>
        </div>

        <div class="col-md-6 col-centered">
            <h1>Sondages</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom du sondage</th>
                        <th>Points</th>
                        <th>Informations</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="orgaSurvey in orgaSurveys">
                        <td>{{orgaSurvey.surveyname}}</td>
                        <td>{{orgaSurvey.points}}</td>
                        <td>{{orgaSurvey.infos}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="js/scroll.js"></script>