<!DOCTYPE html>

<div id="surveyResults" ng-controller="ResultsController" class="col-md-12">
    <select id="sectionSelection" ng-model="selectedSectionNumber" ng-change="selectSection()">
        <option value="default" selected>Choisissez une section...</option>
        <option ng-repeat="sec in sections" value="{{sec.section.section_order}}">{{sec.section.title}}</option>
    </select>

    <select id="questionSelection" ng-options="que.question.description for que in selectedSection.question_array track by que.question.question_order" ng-model="selectedQuestionNumber" style="display:none">

    </select>
</div>

<script src="js/scroll.js"></script>