<!DOCTYPE html>

<div id="surveyResults" ng-controller="ResultsController" class="col-md-12">
    <div style="border: 1px solid #C0C0C0; margin-top: 15px; padding: 10px 10px 10px 10px; background-color: cornsilk">
        <h3>Choisissez la question</h3>
        <select id="sectionSelection" ng-options="sec.section.title for sec in sections track by sec.section.section_order" ng-model="selectedSection" ng-change="selectSection()"></select>
        <select id="questionSelection" ng-options="que.question.description for que in selectedSection.question_array track by que.question.question_order" ng-model="selectedQuestion" ng-change="selectQuestion()" style="display: none;"></select>
        <select id="modelSelection" ng-model="selectedModel" ng-change="drawChart()" style="display: none;">
            <option value="Camembert" selected>Camembert</option>
            <option value="Donut">Donut</option>
            <option value="Histogramme">Histogramme</option>
            <option value="Tableau">Tableau</option>
        </select>
    </div>

    <div style="border: 1px solid #C0C0C0; margin-top: 20px; padding: 10px 10px 10px 10px; background-color: cornsilk">
        <h3>Choisissez des paramètres</h3>

        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr ng-repeat="param in parameters">
                        <td>{{param.section.section.title}}</td>
                        <td>{{param.question.question.description}}</td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td ng-repeat="option in param.question.options">
                                            <label style="font-weight: normal; margin-left: 20px;">
                                                <input type="checkbox" name="param{{param.question.question.question_order}}" value="{{option.id}}" onchange="angular.element(this).scope().updateChartData();">
                                                {{option.choice_name}}
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td><button class="btn btn-danger" style="margin-left: 15px;" ng-click="removeParameter(param)">Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button id="addParameterButton" class="btn btn-primary" ng-click="showAddParameter()">Ajouter un paramètre</button>
        <div id="addParameterDiv" style="display: none;">
            <select id="parameterSectionSelection" ng-options="sec.section.title for sec in parameterSections track by sec.section.section_order" ng-model="parameterSelectedSection" ng-change="parameterSelectSection()"></select>
            <select id="parameterQuestionSelection" ng-options="que.question.description for que in parameterSelectedSection.question_array track by que.question.question_order" ng-model="parameterSelectedQuestion" style="display: none;"></select>
            <button class="btn btn-success" ng-click="addParameter()">Ajouter</button>
            <button class="btn btn-danger" ng-click="hideAddParameter()">Annuler</button>
        </div>
    </div>

    <div style="border: 1px solid #C0C0C0; margin-top: 20px; padding: 5px 5px 5px 5px; background-color: cornsilk">
        <h3>Aperçu</h3>
        <div id="master_chart_div">
            <div id="chart_div"></div>
        </div>
    </div>
</div>

<script src="js/scroll.js"></script>