<!DOCTYPE html>

<div id="surveyResults" ng-controller="ResultsController" class="col-md-8 col-md-offset-2">
    <div style="border: 1px solid #C0C0C0; margin-top: 15px; padding: 10px 10px 10px 10px; background-color: cornsilk">
        <h3>Statistiques du sondage</h3>
        <div><b>Nom du sondage : </b>{{survey.header_name}}</div>
        <div><b>Informations relatives au sondage : </b>{{survey.info}}</div>
        <div><b>Instruction supplémentaire : </b>{{survey.instructions}}</div>
        <div><b>Temps de réponse éstimé : </b>{{surveyEstimatedTime}} minutes</div>
        <div><b>Publié le : </b>{{survey.publication_date}}</div>
        <div><b>Stoppé le : </b>{{survey.stopped_date}} ({{survey.surveytime.days}} jours)</div>
        <div><b>Créé par : </b>{{survey.name}}</div>
        <div><b>Points : </b>{{survey.points}}</div>
        <br/>
        <div><b>Sections : </b>{{sections.length}}</div>
        <div><b>Questions : </b>{{detailledInformations.nbQuestions}}</div>
        <div><b>Scans : </b>{{detailledInformations.nbScans}}</div>
        <div><b>Réponses : </b>{{detailledInformations.nbAnswers}}</div>
        <div><b>Réponses complètes : </b>{{detailledInformations.nbCompleteAnswers}}</div>
        <div><b>Temps de réponse moyen : </b>{{detailledInformations.averageAnswerTimeMinutes}} minutes et {{detailledInformations.averageAnswerTimeSeconds}} secondes</div>
        <div><b>Sections remplies : </b>{{detailledInformations.nbSectionCompleted}}</div>
        <div><b>Questions répondues : </b>{{detailledInformations.nbQuestionAnswered}}</div>
        <div><b>Sections par client : </b>{{detailledInformations.nbSectionCompleted / detailledInformations.nbAnswers}}</div>
        <div><b>Questions par client : </b>{{detailledInformations.nbQuestionAnswered / detailledInformations.nbAnswers}}</div>
        <div><b>Points distribués : </b>{{detailledInformations.nbCompleteAnswers * survey.points}}</div>
        <br/>
        <button id="showComments" class="btn btn-primary" style="margin-left: 15px;" onclick="document.getElementById('showComments').style.display = 'none'; document.getElementById('master_comments_chart_div').style.display = 'initial';">Afficher les commentaires</button>
        <div id ="master_comments_chart_div" style="display: none;">
            <button class="btn btn-primary" style="margin-left: 15px;" onclick="document.getElementById('showComments').style.display = 'initial'; document.getElementById('master_comments_chart_div').style.display = 'none';">Ne plus afficher</button><br/>
            <div id="comments_chart_div"></div>
        </div>
    </div>

    <div style="border: 1px solid #C0C0C0; margin-top: 15px; padding: 10px 10px 10px 10px; background-color: cornsilk">
        <h3>Choisissez la question</h3>
        <select id="sectionSelection" ng-options="sec.section.title for sec in sections track by sec.section.section_order" ng-model="selectedSection" ng-change="selectSection()"></select>
        <select id="questionSelection" ng-options="que.question.description for que in selectedSection.question_array track by que.question.question_order" ng-model="selectedQuestion" ng-change="selectQuestion()" style="display: none;"></select>
        <select id="modelSelection" ng-model="selectedModel" ng-change="updatePreviewChart()" style="display: none;">
            <option value="Camembert" selected>Camembert</option>
            <option value="Donut">Donut</option>
            <option value="Histogramme">Histogramme</option>
            <option value="Tableau">Tableau</option>
        </select>
    </div>

    <div style="border: 1px solid #C0C0C0; margin-top: 20px; padding: 10px 10px 10px 10px; background-color: cornsilk">
        <h3>Choisissez des paramètres</h3>

        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr ng-repeat="param in parameters">
                        <td>{{param.section.section.title}}</td>
                        <td>{{param.question.question.description}}</td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td ng-repeat="option in param.question.options">
                                            <label style="font-weight: normal; margin-left: 20px;">
                                                <input type="checkbox" name="param{{param.question.question.question_order}}" value="{{option.id}}" onchange="angular.element(this).scope().updatePreviewChart();">
                                                {{option.choice_name}}
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td><button class="btn btn-danger" style="margin-left: 15px;" ng-click="removeParameter(param)">Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button id="addParameterButton" class="btn btn-primary" ng-click="showAddParameter()">Ajouter un paramètre</button>
        <div id="addParameterDiv" style="display: none;">
            <select id="parameterSectionSelection" ng-options="sec.section.title for sec in parameterSections track by sec.section.section_order" ng-model="parameterSelectedSection" ng-change="parameterSelectSection()"></select>
            <select id="parameterQuestionSelection" ng-options="que.question.description for que in parameterSelectedSection.question_array track by que.question.question_order" ng-model="parameterSelectedQuestion" style="display: none;"></select>
            <button class="btn btn-success" ng-click="addParameter()">Ajouter</button>
            <button class="btn btn-danger" ng-click="hideAddParameter()">Annuler</button>
        </div>
    </div>

    <div style="border: 1px solid #C0C0C0; margin-top: 20px; margin-bottom: 20px; padding: 5px 5px 5px 5px; height: 422px; background-color: cornsilk;">
        <h3>Aperçu</h3>
        <div id="masterChartPreview">
            <div id="chartPreview"></div>
        </div>
        <div id="csvPreview"></div>
        <button id="saveWidget" class="btn btn-primary" ng-click="saveWidget()">Ajouter le widget</button>
    </div>

    <div class="col-md-4" style="margin-top: 20px" ng-repeat="widget in widgets | orderBy:'cardorder'" category-render="ngRepeatFinished">
        <div id="chartDiv{{widget.id}}"></div>
        <div id="csvDiv{{widget.id}}"></div>
        <button class="btn btn-danger" ng-click="deleteWidget(widget.id)">Supprimer</button>
    </div>
</div>

<script src="js/scroll.js"></script>