<!DOCTYPE html>

<div id="surveyResults" ng-controller="ResultsController" class="col-md-12">
    <select id="sectionSelection" ng-model="selectedSectionNumber" ng-change="selectSection()">
        <option value="default" selected>Choisissez une section...</option>
        <option ng-repeat="sec in sections" value="{{sec.section.section_order}}">{{sec.section.title}}</option>
    </select>

    <select id="questionSelection" ng-options="que.question.description for que in selectedSection.question_array track by que.question.question_order" ng-model="selectedQuestion" ng-change="selectQuestion()" style="display:none">
    </select>

    <select id="modelSelection" ng-model="selectedModel" ng-change="selectModel()" style="display:none">
    	<option value="Camembert" selected>Camembert</option>
    	<option value="Donut">Donut</option>
    	<option value="Histogramme">Histogramme</option>
    	<option value="Bar">Bar</option>
    </select>

    <div id="chart_div"></div>
</div>

<script src="js/scroll.js"></script>