<!DOCTYPE html>
<div class="row-centered" ng-controller="ShopAdmins">
    <div class="validate-pro col-xs-10 col-sm-10 col-md-8 col-lg-6 col-centered">
        <h1>Ajouter ou supprimer un administrateur de magasin</h1>
        <hr>
        <div id="action-success" class="alert alert-success alert-dismissible fade in" role="alert" ng-show="actionSuccMess!=undefined">
            <button type="button" class="close" ng-click="actionSuccMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span>{{actionSuccMess}}</span>
        </div>
        <div id="action-error" class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="actionErrMess!=undefined">
            <button type="button" class="close" ng-click="actionErrMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span>{{actionErrMess}}</span>
        </div>

        <input type="search" ng-model="q" placeholder="Filtrer les comptes" class="form-control" style="width: 300px" /> <br> 
        <ul class="row account-pro" style="padding: 0 20px">
            <li class="animate-repeat" ng-repeat="shopadmin in shopadmins | filter:q as results"> 
                <h3>Administrateur <strong>{{shopadmin.admin_firstname}} {{shopadmin.admin_lastname}}</strong></h3>
                <div class="col-md-12">{{shopadmin.admin_email}}</div>
                <div class="col-md-12"><button type="button" class="btn btn-default button-cancel" ng-click="del_shopadmin(shopadmin.admin_id)"><i class="fa fa-times"></i></button></div>
                <hr class="col-md-12">
            </li>
            <li class="col col-md-12 animate-repeat" ng-if="results.length == 0">
                <strong>Aucun administrateurs de magasin trouvés !</strong>
            </li>
        </ul>
    </div>
</div>