<!DOCTYPE html>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="SignupController" >
  	<div class="modal-dialog row-centered">
    	<div class="modal-content col-xs-10 col-sm-10 col-md-8 col-lg-6 col-centered signup">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Inscrivez-vous !</h4>
		    </div>
      			<div class="modal-body">
      				<div id="signup-success" class="alert alert-success alert-dismissible fade in" role="alert" ng-show="signupSuccMess!=undefined">
				        <button type="button" class="close" ng-click="signupSuccMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <span>{{signupSuccMess}}</span>
				    </div>
				    <div id="signup-error" class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="signupErrMess!=undefined">
				        <button type="button" class="close" ng-click="signupErrMess=undefined"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <span>{{signupErrMess}}</span>
				    </div>
					<form name="myForm" ng-submit="submit()">
						<div class="col-sm-6">
							<label>Indiquez le type de compte</label> <span class="link_primary">*</span><br/>
							<input type="radio" name="account_type" ng-model="user.type" value="particulier" ng-change="change_form()" id="particulier" ng-checked="true"/> particulier
							&nbsp;&nbsp;
							<input type="radio" name="account_type" ng-model="user.type" value="professional" ng-change="change_form()" id="professionnal"/> professionnel
						</div>
						<div class="professionnal_form pro_check col-sm-6" style="clear:both; display:none;">
							<label>Indiquez le nom de votre entreprise</label> <span class="link_primary">*</span>
							<input type="text" placeholder="Nom de l'entreprise" class="form-control" name="firm_name" ng-model="user.firmname" ng-blur="fetch_img()"/>
							<span class="error" ng-show="isValidFirmName">Le nom de l'entreprise de doit contenir que des lettres et des traits d'union</span>
						</div>
						<div class="professionnal_form pro_check col-sm-6" style="display:none;">
							<label>Entrez une courte description</label> <span class="link_primary">*</span>
							<input type="text" placeholder="Description" class="form-control" name="description" ng-model="user.firmdescription" ng-change="description_check()"/>
						</div>
						<div class="col-sm-6" style="clear:both">
							<label>Indiquez votre prénom</label> <span class="link_primary">*</span>
							<input type="text" placeholder="Prénom" class="form-control" name="firstname" ng-model="user.firstname" ng-change="firstName_check()" required="true"/>
							<span class="error" ng-show="isValidFirstName">Le prénom de doit contenir que des lettres et des traits d'union et doit être composé au minimum de 2 caractères</span>
						</div>
						<div class="col-sm-6">
							<label>Indiquez votre nom</label> <span class="link_primary">*</span>
							<input type="text" placeholder="Nom" class="form-control" name="lastname" ng-model="user.lastname" ng-change="lastName_check()" required="true"/>
							<span class="error" ng-show="isValidLastName">Le prénom de doit contenir que des lettres et des traits d'union</span>
						</div>
						<div class="col-sm-6">
							<label>Choississez un mot de passe</label> <span class="link_primary">*</span>
							<input type="password" placeholder="Mot de passe" class="form-control" name="password" ng-model="user.password" ng-change="pwd_check()" required/>
							<span class="error" ng-show="isValidPwd">Votre mot de passe doit contenir au moins une lettre, un chiffre, un caractère spécial et doit excéder 6 caractères</span>
						</div>
						<div class="col-sm-6">
							<label>Confirmez votre mot de passe</label> <span class="link_primary">*</span>
							<input type="password" placeholder="Confirmation mot de passe" class="form-control" ng-model="user.password2" ng-change="confirmpwd_check()" required/>
							<span class="error" ng-show="isValidConfirmPwd">Le mots de passe de sont pas identiques</span>
						</div>
						<div class="col-sm-6">
							<label>Indiquez votre adresse e-mail</label> <span class="link_primary">*</span>
							<input ng-change="email_check()" ng-model="user.email" type="text" placeholder="email@provider.com" class="form-control" required/>
			  				<span class="error" ng-show="isValidEmail">Le mail indiqué est invalide</span>
						</div>
						<div class="professionnal_form col-sm-6">
							<label>Indiquez votre numéro de téléphone</label> <span class="link_primary" hidden >*</span>
							<input type="text" placeholder="" id="phoneNumber" class="form-control" ng-model="user.phone" ng-change="phoneNumber_check()"/>
							<span class="error" ng-show="isValidPhoneNumber">Le numéro doit être composé de 10 chiffres ou doit commencer par +33</span>
						</div>
						<div class="col-sm-6">
							<label>Indiquez votre adresse ici</label>
							<input type="text" id="googleAddress-autocomplete" placeholder="" class="form-control" onFocus="googleAddress.geolocate()" />
						</div>
						<div class="professionnal_form col-sm-6"> 
							<label>Route</label> <span class="link_primary" hidden >*</span>
							<input type="text" placeholder="" id="googleAddresssign-route" class="form-control" ng-model="user.address" readonly />
						</div>
						<div class="professionnal_form col-sm-6">
							<label>Code postal</label> <span class="link_primary" hidden >*</span>
							<input type="text" placeholder="" id="sign-postal" class="form-control" ng-model="user.postal" readonly />
						</div>
						<div class="professionnal_form col-sm-3">
							<label>Ville</label> <span class="link_primary" hidden >*</span>
							<input type="text" placeholder="" id="sign-locality" class="form-control" ng-model="user.town" readonly />
						</div>
						<div class="professionnal_form col-sm-3">
							<label>Pays</label> <span class="link_primary" hidden >*</span>
							<input type="text" placeholder="" id="sign-country" class="form-control" ng-model="user.country" readonly />
						</div>
						<div class="part_check col-sm-6">
							<label>Indiquez l'e-mail de votre parrain</label>
							<input type="text" placeholder="" class="form-control" ng-model="user.inviter"/>
						</div>
						<div class="pro_check col-sm-6" style="display:none;clear:both">
							<p style="float: right">
							<label>Logo de l'entreprise</label><br/>
							<img ng-src="{{img}}" style="width:100px;"/><br/><span id="logo_suggestion" ng-click="img_upload_form()" style="display:none;">Ceci n'est pas votre logo ?</span>
							</p>
						</div>
						<div class="pro_check col-sm-6">
							<div id="img_upload" style="display:none; float: left">
								<input type="file" accept="image/*" class="form-control" style="width: 100%;" id="uploadLogo" onchange="angular.element(this).scope().change_img_preview()">
								<br>ou<br><br>
								<input type="checkbox" name="skip_upload" ng-model="user.logo_skip" ng-change="reset_default_image()" /> passer cette étape
							</div>
						</div>
						<!-- <div class="professionnal_form col-sm-6" style="display:none;">
							<label>Indiquez le nombre d'utilisateurs potentiels</label><br/>
							<input type="radio" name="user_num" ng-model="user_num_value" value="50" ng-change="change_form()" /> Moins de 50<br/>
							<input type="radio" name="user_num" ng-model="user_num_value" value="100" ng-change="change_form()" /> Plus de 100<br/>
							<input type="radio" name="user_num" ng-model="user_num_value" value="1000" ng-change="change_form()" /> Plus de 1000<br/>
							<input type="radio" name="user_num" ng-model="user_num_value" value="10000" ng-change="change_form()" /> Plus de 10000<br/>
						</div> -->
						<div class="col-sm-2" style="clear:both;">
							<input type="submit" class="btn btn-primary" value="S'inscrire"/>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8">
						<span>
							En cliquant sur « S'inscrire », vous acceptez <span class="link_primary">Nos conditions d'utilisation</span> et notre <span class="link_primary">Politique de 	confidentialité</span>
						</span>
					</div>
				</form>
	  		</div>
    	</div>
  	</div>
</div>