body {
    background: url('../img/surveymania.png') center top no-repeat #f5c850;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 20px 50px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}