/* ******************************************* */
/* ****************** GLOBAL ***************** */
/* ******************************************* */

@font-face{
	font-family: 'coolvetica';
	src: url('../fonts/coolvetica.ttf');
}

@font-face{
	font-family:'quicksand';
	src: url('../fonts/Quicksand_Light.ttf');
}

header
{
	background-color:#f5c950;
	height:54px;
	background-image: url('../img/logo.jpg');
	background-size: 50px;
	background-repeat: no-repeat;
	background-position-x: 25px;
}

.signup
{
	margin-top:50px;
}

.brand{
	font-family: 'coolvetica';
	font-size: 31px;
	color: #FFF;
	padding-left: 100px;
	padding-top: 3px;
	display: block;
	float: left;
}

.link_primary{
	color:#f5c950;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* ******************************************* */
/* ****************** SIGNUP ***************** */
/* ******************************************* */

.signup{
    color: #FFF;
}

.signup div
{
    margin-top:30px;
}

.signup div:first-child
{
    margin-top:10px;
}

.signup label, .signup input[type=submit]
{
    font-weight: normal;
    font-family: 'quicksand';
}

.error
{
    position: absolute;
    color: #f62222;
    font-size: 10px;
    font-style: italic;
}

#logo_suggestion{
    font-style: italic;
    font-size: 10px;
}

#logo_suggestion:hover
{
    cursor: pointer;
}

#img_upload
{
    float: right;
    width: 65%;
    text-align: center;
}

/* ******************************************* */
/* ***************** ACCOUNT ***************** */
/* ******************************************* */

#profil_bg{
    background-image: url('../img/footer_lodyas.png');
    border-bottom: 1px solid #f5c950;
}

#default_profil{
    text-align: center;
    padding: 20px 0px 10px 0px;
    cursor: pointer;
}

#profil_name{
    font-family: 'quicksand';
    color: #FFFFFF;
    font-size: 23px;
}

#account_user_points {
    font-family: 'quicksand';
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    height: 60px;
    left: 15%;
    margin: auto;
    bottom: 0;
    top: 0;
}

.col1, .col2, .col3, .col4{
    height: 50px;
    padding: 12px;
    color:#333333;
}

.col1{
    /*background-color: #FFD86D;*/
    background-color:#313131;
}
.col2{
    /*background-color: #FFE6A0;*/
    background-color: #373737;
}
.col3{
    background-color: #f5c950;
}

.about_title, .trophy_title, .coupon_title{
    font-family: 'quicksand';
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 3px;
}

.about_title{
    background-image: url("../img/user_icon_white.png");
}

.trophy_title{
    background-image: url("../img/trophy_icon_white.png");
}

.coupon_title{
    background-image: url("../img/coupon_icon.png");
}

.recent_survey{
    font-family: 'quicksand';
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    background-image: url("../img/recent.png");
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-top:20px;
    padding-bottom: 5px;
}

.validate-pro .col {
    padding: 0;
}

.validate-pro .validate_btn
{
    background-image: url('../img/glyphicons-halflings.png');
    width: 15px;
    position: absolute;
    height: 15px;
    top: 10px;
    background-position:-288px 0px;
    right: 40px;
}

.validate-pro .cancel_btn
{
    background-image: url('../img/glyphicons-halflings.png');
    width: 15px;
    position: absolute;
    height: 15px;
    top: 10px;
    background-position:-312px 0px;
    right: 40px;
}

.validate-pro .button-validate {
    margin-top: 15px;
}

.validate-pro .button-cancel {
    margin-top: 15px;
}

.validate-pro .pull-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.user_info_edit_input
{
  height: 33px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#accountEditProfile div{
    margin-top:30px;
}

#accountEditProfile div:first-child{
    margin-top:0px !important;
}

.group-clear
{
    clear: both;
    padding-bottom:20px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.7s;
  transition:all linear 0.7s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:300px;
}


/* ******************************************* */
/* *************** DRAGANDDROP *************** */
/* ******************************************* */

.dragitem, .optionsbarButton
{
    list-style: none;
    background: #f8f8f8;
    border:1px solid #e0e0e0;
    border-radius: 5px;
    margin:10px 10px 0px 0px;
    padding:10px;
}

#display-item-options input{
    margin-bottom: 10px;
}

.optionsbarButton
{
    margin-top:0px;
}

.draggable-icon
{
    float:right;
    margin:4px 10px 0px 0px;
    color:#e0e0e0;
}

#renderPanel
{
    border-left:1px solid #e0e0e0;
    padding:0px;
}

#optionsbar
{
    border-bottom: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    margin-bottom: 15px;
    padding:10px;
}

.ui-widget-header, .ui-widget-content
{
    margin:15px;
}

.draganddroptuto
{
    margin:20px 0px 19px 0px;
}

.faarrows
{
    font-size: 25px;
    float: left;
    margin: 9px 10px 0px 0px;
}

.dropzone{
  background-color: #f2f2f2;
  border:1px solid #cccccc;
  min-height:500px;
}

.draggable_item:hover{
  cursor: pointer;
}

.drop_item{
  margin-top:10px;
}

.dropzone:hover .drop_item{
  border: 1px dotted #333;
  margin-top:9px;
}

.edit_btn, .validate_edit_btn, .delete_btn
{
  background-image: url('../img/glyphicons-halflings.png');
  width: 15px;
  position: absolute;
  height: 15px;
  top: 10px;
}

.edit_btn
{
  background-position: 0px 88px;
  right: 40px;
}

.validate_edit_btn
{
  background-position:-288px 0px;
  right: 40px;
}

.delete_btn
{
  background-position:-310px 0px;
  right: 20px;
}

.edit_btn:hover, .validate_edit_btn:hover, .delete_btn:hover
{
  cursor: pointer;
}

.answer_field, .question_label{
  display: inline-block;
  margin:10px;
}

ol{
  list-style-type: none;
  padding:0px 10px 0px 10px;
}

.question_code{
  margin-left:10px;
  display: block;
}

#errMessage
{
    color: #f62222;
    font-size: 12px;
    font-style: italic;
}